{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Home Page</h1>
    <!-- <div class="table1">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Second</th>
      <th scope="col">Third</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Name</td>
      <td>Prasanna</td>
      <td>Geethika</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>RollNo.></td>
      <td>M7</td>
      <td>M8</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Color</td>
      <td>Black</td>
      <td>Black</td>
    </tr>
  </tbody>
</table>
    </div> -->

    <!-- trying to add the list -->
    <!-- <div class="list">
      <ul>
        {% for pet in Pets %}
          <li>{{ pet.name }} - {{ pet.breed }} - {{ pet.category }}</li>
        {% endfor %}
    </ul>
    </div> -->

    <div class="table2">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Breed</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
        {% for pet in Pets %}
     <tr>
        <!-- Access object attributes within the loop -->
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ pet.name }}</td>
        <td>{{ pet.breed }}</td>
        <td>{{ pet.category }}</td>
        </tr>
          {% empty %}
          <!-- Message to display if the queryset is empty -->
           <tr>
              <td colspan="4">No data available.</td>
            </tr>
    {% endfor %}

  </tbody>
</table>
    </div>
    

    <!-- Image of the cat -->
    <div class="im">
      <img src="{% static 'images/cat.jpg' %}">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>